<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/skeleton.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ITD Canada Students</title>
</head>
<body>
  <div class="container">
    <h1>Update Course</h1>
    <form accept-charset="UTF-8" action="/admin/courses/<%= course.id %>" class="edit_course" id="edit_course_<%= course.id %>" method="post">
      <div class="row">
        <div class="columns">
          <label for="course_name">Name</label>
          <input id="course_name" name="name" type="text" value="<%= course.name %>" />
          <label for="course_length">Length</label>
          <input id="course_length" name="length" type="text" value="<%= course.length %>" />
          <label for="course_started_date">Started Date</label>
          <input id="course_started_date" name="started_date" type="date" value="<%= course.started_date %>" />
          <label for="course_ended_date">Ended Date</label>
          <input id="course_ended_date" name="ended_date" type="date" value="<%= course.ended_date %>" />
        </div>
      </div>
      <div class="row">
        <input class="btn btn-large btn-primary" name="commit" type="submit" value="Save changes" />
      </div>
    </form>
  </div>
</body>
</html>
