<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <title>ITD Canada Students</title>
    <link href="../../stylesheets/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <aside class="span4">
          <section>
            <h1>Users</h1>
            <a class="btn btn-info" method="get" href="/admin/users/new" rel="nofollow">
              New
            </a>
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Password</th>
                  <th>Profile Image URL</th>
                  <th>Enterd Date</th>
                  <th>Course Type</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <% users.forEach(function(user) { %>
                  <tr>
                    <td><%= user.id %></td>
                    <td><%= user.first_name %></td>
                    <td><%= user.last_name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.password %></td>
                    <td><%= user.profile_image_url %></td>
                    <td><%= user.entered_date %></td>
                    <td><%= user.course_type %></td>
                    <td>
                      <a href="/admin/users/<%= user.id %>/edit">
                        Edit
                      </a>
                    </td>
                    <td>
                      <a class="btn btn-danger" method="delete" href="/admin/users/<%= user.id %>" rel="nofollow">
                        Delete
                      </a>
                    </td>
                  </tr>
                <% }); %>
              </tbody>
            </table>
          </section>
        </aside>
      </div>
    </div>
  </body>
</html>
